<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SPtoExcel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SPtoExcel.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>dw-devsql</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>CosmosPolaris2</value>
            </setting>
            <setting name="IntegratedSecurity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SQLUserID" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SQLPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="SQLQuery" serializeAs="String">
                <value>Select * from Polaris_Security</value>
            </setting>
            <setting name="SheetNames" serializeAs="String">
                <value>Sheeta
Sheetb
Sheetc
Sheetd
Sheete</value>
            </setting>
        </SPtoExcel.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
